#title {
  margin-top: 50px;
  font: normal normal 600 50px/61px Montserrat;
  color: #29ae6d;
  text-align: -webkit-center;
  margin-bottom: 50px;
}

.MuiCardContent-root {
  padding: 16px;
  text-align: -webkit-center;
}
