#title {
  margin-top: 50px;
  font: normal normal 600 35px/40px Montserrat;
  color: #29ae6d;
  text-align: -webkit-center;
}

#title-extra {
  margin-bottom: 50px;
  font: normal normal 20px/24px Montserrat;
  color: #29ae6d;
  text-align: center;
  text-align: -webkit-center;
}

.MuiCardContent-root {
  padding: 16px;
  text-align: -webkit-center;
}
