#title {
  margin-top: 50px;
  font: normal normal 600 35px/40px Montserrat;
  color: #29ae6d;
  text-align: -webkit-center;
}

#title-extra {
  margin-bottom: 50px;
  font: normal normal 20px/24px Montserrat;
  color: #29ae6d;
  text-align: center;
  text-align: -webkit-center;
}

#box {
  width: 150;
  height: 150;
  border-radius: 150 / 2;
  border-width: 3;
  border-color: 'red';
}

.Circle {
  text-align: -webkit-center;
  border-radius: '50%';
  box-shadow: 5px 5px 15px #0000000d;
  color: black;
  border: solid;
  background-color: black;
}
#cardStyle {
  box-shadow: 0 0 white;
}

#cardTittle {
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #29ae6d;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  font-size: large;
}

#cardText {
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin: 0px;
}
.MuiCardContent-root {
  padding: 16px;
  text-align: -webkit-center;
}
